.jumbotron {
  background-image: url("house.jpeg");
  background-size: 100% 100%;
}
button{
	 float: initial;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
}
h3{
	color: red;
}
p{
	text-shadow: ;
}