body
{
	margin: 0;
	padding:0
	background;#efefef;
	font-size: 18px
	color:#777
	font-family;sans-serif
	font-weight: 310;


}#login-box
{position: relative;
margin: 6% auto;
height: 420px;
background: #fff
box-shadow; 0 3px 6px rgba(0,0,0,0.8);
}
.left-box
{
position:absolute;
top:0;
left:0;
box-sizing: border-box;
padding:41px
width: 310px;
height:41px;
}